@import "tailwindcss";

.marquee-wrapper {
  display: flex;
  width: fit-content;
  animation: marquee-loop 8s linear infinite;
}

.marquee-text {
  font-size: 1.125rem; /* text-lg */
  font-weight: 600;    /* font-semibold */
  color: #4f46e5;      /* text-indigo-700 */
  white-space: nowrap;
}

@keyframes marquee-loop {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
